body {
	margin: 0;
	text-align: center;
	font-size: 1.25em;
	line-height: 1.5;
}

.header {
	left: 0;
	right: 0;

	margin: 0 auto;
	padding: 1.25em 0 0.5em 0;

	font-size: 3em;
	color: #bdc3c7;
	background: #2c3e50;
}

@media screen and (max-device-width: 1024px) {
.header {
	font-size: 1.5em;
}
}

.header a:hover {
	color: #bdc3c7;
	text-shadow: 0 0 1em #bdc3c7;
}

.content {
	max-width: 800px;
	margin: 0 auto;
}

.gallery {
	display: inline-block;
	margin: 20px 40px;
	padding: 0;
	text-align: center;
}

.gallery img {
	width: 180px;
	height: 180px;
	border-radius: 45px;
}

.gallery div {
	margin: 0 auto;
}

.gallery-title {
	font-size: 1.5em;
}

.blog {
	margin: 0 auto;
	padding: 1em;
	max-width: 600px;
	text-align: left;
}

.blog-date {
	color: #a0a0a0;
	font-size: 0.75em;
}

.about {
	padding: 20px;
}

.about img {
	height: 100px;
	width: 100px;
	vertical-align: middle;
	border-radius: 50px;
	border-color: #bdc3c7;
	border-style: solid;
	border-width: 2px;
}

.about div {
	display: inline-block;
	margin: 0 0 0 10px;
	vertical-align: middle;
	text-align: left;
	font-size: 0.75em;
}

.about span {
	font-weight: bold;
}
