body {
	margin: 0;
	text-align: center;
	font-size: 20px;
	line-height: 1.5;
}

.header {
	left: 0;
	right: 0;

	margin: 0 auto;
	padding: 60px 0 10px 0;

	font-size: 56px;
	color: #bdc3c7;
	background: #2c3e50;
}

.header a:hover {
	color: #bdc3c7;
	text-shadow: 0 0 20px #bdc3c7;
}

.content {
	width: 800px;
	margin: 0 auto;
}

.gallery {
	display: inline-block;
	margin: 20px 40px;
	padding: 0;
	text-align: center;
}

.gallery img {
	width: 180px;
	height: 180px;
	border-radius: 45px;
}

.gallery div {
	margin: 0 auto;
}

.gallery-title {
	font-size: 28px;
}

.blog {
	margin: 0 auto;
	width: 600px;
	text-align: left;
}

.blog-date {
	color: #a0a0a0;
	font-size: 14px;
}

.about {
	padding: 20px;
}

.about img {
	height: 100px;
	width: 100px;
	vertical-align: middle;
	border-radius: 50px;
	border-color: #bdc3c7;
	border-style: solid;
	border-width: 2px;
}

.about span {
	display: inline-block;
	margin: 0 0 0 10px;
	vertical-align: middle;
	text-align: left;
	font-size: 16px;
}
