body {
	margin: 0;
	text-align: center;
}

.header {
	left: 0;
	right: 0;

	padding: 5px 0;

	font-size: 16px;
	color: #bdc3c7;
	background: #2c3e50;
}

.header a:hover {
	color: #bdc3c7;
	text-shadow: 0 0 20px #bdc3c7;
}

.content {
	width: 800px;
	margin: 0 auto;
	border-width: 1;
	border-style: none double double double;
	border-color: #bdc3c7;
	text-align: left;
}

.ds-thread {
	padding: 30px;
	border-top-style: double;
	border-top-width: 1;
	border-color: #bdc3c7;
}