body {
	margin: 0;
	text-align: center;
}

.header {
	left: 0;
	right: 0;

	padding: 5px 0;

	font-size: 1em;
	color: #bdc3c7;
	background: #2c3e50;
}

.header a:hover {
	color: #ffffff;
}

.content {
	max-width: 800px;
	margin: 0 auto;
	border-width: 0.25em;
	border-style: none double double double;
	border-color: #bdc3c7;
	text-align: left;
}

.cloud-tie-wrapper {
	padding: 1em;
	border-top-style: double;
	border-top-width: 0.25em;
	border-color: #bdc3c7;
}
