html {
	font-family: "Noto Sans", Helvetica, Arial, "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", SimSun, "宋体", sans-serif;
	font-size: 20;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;

	color: #fffff0;
	background: #7f848b;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a { text-decoration: none }
a:link { color: inherit; }
a:visited { color: inherit; }
a:hover { color: #4499EE; }

body {
	margin: 0;
	text-align: center;
}

#header {
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 60 0 20 0;
	background: #f2f2f6;
	color: #5f5f5f;
	font-size: 48;
}

#header li {
	display: inline;
	font-size: 20;
}

#content {
	width: 800;
	margin: 0 auto;
}

.gallery {
	display: inline-block;
	margin: 20 40;
	padding: 0;
	text-align: center;
}

.gallery img {
	width: 180;
	height: 180;
	border-radius: 40;
}

.gallery div {
	margin: 0 auto;
}

.gallery-title {
	font-size: 32;
}

#blog {
	margin: 0 auto;
	width: 600;
	text-align: left;
}

#blog li {
	font-size: 20;
}

.blog-date {
	color: #dddddd;
	font-size: 14;
}

#about {
	padding: 20;
}

#about img {
	height: 100;
	width: 100;
	vertical-align: middle;
	border-radius: 50;
	border-color: #fffff0;
	border-style: solid;
	border-width: 2;
}

#about span {
	display: inline-block;
	margin: 0 0 0 10;
	vertical-align: middle;
	text-align: left;
	font-size: 16;
}

#copyright {
	color: #dddddd;
	font-size: 10;
}