<html>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<head>
		<link rel="stylesheet" type="text/css" href="../_css/global.css" />
		<link rel="stylesheet" type="text/css" href="../_css/page.css" />
		<link rel="stylesheet" type="text/css" href="../_css/markdown.css" />
		<title>-TITLE-</title>
	</head>

	<body>
		<div class="header">
			<span><a href="../index.html">柒笑侠的游戏世界</a></span>
		</div>

		<div class="content">
			<article class="markdown-body">-CONTENT-</article>
			<hr/>
		</div>

		<div class="copyright">
			<span><a href="../index.html">© 2014 qixiaoxia.com</a></span>
		</div>
	</body>
</html>