<!DOCTYPE html>
<html>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<head>
		<meta name="google-site-verification" content="APe7z6nLUJRHscnPEh4DFB8HItFNuHUEjgUjmZQgCqI" />
		<link rel="stylesheet" type="text/css" href="_css/global.css" />
		<link rel="stylesheet" type="text/css" href="_css/index.css" />
		<title>柒笑侠的游戏世界</title>
	</head>

	<body>
		<div class="header">
			<span><a href="index.html">柒笑侠的游戏世界</a></span>
		</div>

		<div class="content">
			<div class="work">
				<div class="gallery">
					<a href="subject/uncleswing.html">
					<div class="gallery-title">Tilt Tilt</div>
					<img src="_images/tiltt.png"/>
					</a>
					<div>
						<a href="https://itunes.apple.com/us/app/tilt-tilt/id905860357" target="_blank">ios</a> | <a href="https://play.google.com/store/apps/details?id=com.poags.tiltt" target="_blank">android</a>
					</div>
				</div>
				<div class="gallery">
					<a href="subject/calmdawn.html">
					<div class="gallery-title">Ejoy2d Dawn</div>
					<img src="_images/dawn.png"/>
					</a>
					<div>
						<a href="https://play.google.com/store/apps/details?id=com.poags.dawn" target="_blank">android</a>
					</div>
				</div>
				<div class="gallery">
					<a href="subject/maxcrush.html">
					<div class="gallery-title">Max Crush</div>
					<img src="_images/mc.png"/>
					</a>
					<div>
						<a href="https://itunes.apple.com/us/app/max-crush/id1018641834" target="_blank">ios</a> | <a href="https://play.google.com/store/apps/details?id=com.poags.mc" target="_blank">android</a>
					</div>
				</div>
			</div>

			<hr/>

			<div class="blog">
				-BLOG-
			</div>

			<hr/>

			<div class="about">
				<img src="_images/portrait.jpg"/>
				<div>
					<span>柒笑侠</span><br/>
					游戏程序员，独立游戏爱好者<br/>
					skykapok#gmail.com<br/>
					<a href="https://www.zhihu.com/people/qixiaoxia" target="_blank">Zhihu</a> | <a href="https://github.com/skykapok" target="_blank">Github</a> | <a href="https://cn.linkedin.com/in/qixiaoxia" target="_blank">LinkedIn</a>
				</div>
			</div>

			<hr/>
		</div>

		<div class="copyright">
			<span><a href="index.html">© 2014-2017 qixiaoxia.com</a></span>
		</div>
	</body>
</html>
