<!DOCTYPE html>
<html>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<head>
		<link rel="stylesheet" type="text/css" href="_css/global.css" />
		<link rel="stylesheet" type="text/css" href="_css/index.css" />
		<title>柒笑侠的游戏世界</title>
	</head>

	<body>
		<div class="header">
			<span><a href="index.html">柒笑侠的游戏世界</a></span>
		</div>

		<div class="content">
			<div class="work">
				<div class="gallery">
					<div class="gallery-title">萌叔走路</div>
					<img src="_images/tiltt.png"/>
					<div>
						<a href="https://itunes.apple.com/us/app/tilt-tilt/id905860357" target="_blank">ios</a> | <a href="https://play.google.com/store/apps/details?id=com.poags.tiltt" target="_blank">android</a>
					</div>
				</div>
				<div class="gallery">
					<div class="gallery-title">Dawn</div>
					<img src="_images/dawn.png"/>
					<div>
						<a href="https://play.google.com/store/apps/details?id=com.poags.dawn" target="_blank">android</a>
					</div>
				</div>
				<div class="gallery">
					<div class="gallery-title">MGAME</div>
					<img src="_images/mgame.png"/>
					<div>
						敬请期待
					</div>
				</div>
			</div>

			<hr/>

			<div class="blog">
				-BLOG-
			</div>

			<hr/>

			<div class="about">
				<img src="_images/portrait.jpg"/>
				<div>
					<span>柒笑侠</span><br/>
					游戏程序员，独立游戏爱好者<br/>
					skykapok#gmail.com<br/>
					<a href="http://weibo.com/sevalry" target="_blank">Weibo</a> | <a href="https://github.com/skykapok" target="_blank">Github</a> | LinkedIn
				</div>
			</div>

			<hr/>
		</div>

		<div class="copyright">
			<span><a href="index.html">© 2014 qixiaoxia.com</a></span>
		</div>
	</body>
</html>