<!DOCTYPE html>
<html>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<head>
		<link rel="stylesheet" type="text/css" href="../_css/global.css" />
		<link rel="stylesheet" type="text/css" href="../_css/page.css" />
		<link rel="stylesheet" type="text/css" href="../_css/markdown.css" />
		<title>-TITLE-</title>
	</head>

	<body>
		<div class="header">
			<span><a href="../index.html">柒笑侠的游戏世界</a></span>
		</div>

		<div class="content">
			<article class="markdown-body">-CONTENT-</article>

			<div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
			<script>
				var cloudTieConfig = {
					url: "-URL-",
					sourceId: "-ID-",
					productKey: "5c234ba9942b4b5aaab5ff1dd45c2b28",
					target: "cloud-tie-wrapper"
				};
			</script>
			<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>

<!--
			<div class="ds-thread" data-thread-key="-ID-" data-title="-TITLE-" data-url="-URL-"></div>
			<script type="text/javascript">
				var duoshuoQuery = {short_name:"qixiaoxia"};
					(function() {
						var ds = document.createElement('script');
						ds.type = 'text/javascript';ds.async = true;
						ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
						ds.charset = 'UTF-8';
						(document.getElementsByTagName('head')[0]
						 || document.getElementsByTagName('body')[0]).appendChild(ds);
					})();
			</script>
-->

		</div>

		<div class="copyright">
			<span><a href="../index.html">© 2014-2017 qixiaoxia.com</a></span>
		</div>
	</body>
</html>
